<IfModule mod_rewrite.c>
  RewriteEngine On 
  RewriteBase / 
  RewriteRule ^index\.html$ - [L] 
  RewriteCond
  ${REQUEST_FILENAME} !-If 
  RewriteCond ${REQUEST_FILENAME} !-Id 
  RewriteCond ${REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
